.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    width:100%;
}
.gridItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.rowReverse {
    flex-direction: column-reverse;
}
.container {
    display:flex;
    width: 100%;
    /* Adjust as needed */
    margin: 0 auto;
    border:solid;
}